<form
  class="flex flex-col gap-y-5"
  (ngSubmit)="onSubmit()"
  [formGroup]="changePasswordForm"
>
  <input
    id="currentPassword"
    class="border-solid border-2 border-sky-500 rounded-lg indent-2"
    type="password"
    formControlName="currentPassword"
    placeholder="Current Password"
  />

  <input
    id="newPassword"
    class="border-solid border-2 border-sky-500 rounded-lg indent-2"
    type="password"
    formControlName="newPassword"
    placeholder="New Password"
  />

  <input
    id="newPasswordConfirmation"
    class="border-solid border-2 border-sky-500 rounded-lg indent-2"
    type="password"
    formControlName="newPasswordConfirmation"
    placeholder="Confirm new Password"
  />
  <button
    [disabled]="!changePasswordForm.valid"
    class="rounded-full bg-sky-500"
    type="submit"
  >
    Update password
  </button>
</form>
