<div class="flex flex-col max-h-screen h-dvh overflow-hidden">
  <div
    class="flex flex-row justify-between h-20 sticky top-0 bg-gradient-to-b from-indigo-500 via-purple-500 to-pink-500"
  >
    <div class="flex items-center">
      <a class="text-slate-50 px-10 cursor-pointer" routerLink="/dashboard">
        Tech Watch
      </a>
    </div>
    <div class="flex items-center">
      <app-search></app-search>
    </div>
    <div class="flex flex-row items-center">
      <a routerLink="/profile" class="text-slate-50 mr-10 cursor-pointer"
        >Profile</a
      >
      <a
        (click)="authService.performlogout()"
        class="text-slate-50 mr-10 cursor-pointer"
        >Logout</a
      >
    </div>
  </div>
  <div class="h-dvh overflow-y-scroll bg-slate-200">
    <router-outlet></router-outlet>
  </div>
</div>
